body{             
    font-family: "comic sans ms",system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 17px;
    margin: 0 auto;
    max-width: 900px;              
}
#fiche {
    text-align:center;
    margin: 20px;
    padding: 20px;
    border: 2px solid;
  padding: 10px;
  
}
form {
    margin: 20px;
    padding: 20px;
    border: 2px solid;
  padding: 10px; 
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    }
  .right {
    text-align: left;
  }
  .vld{
    padding : 8px 16px;
    font-size: 16px;
    margin : 0  46%;
    
  }
#error {
    width: 100%;
    background-color: pink;
    padding : 2px;
    color:black;
    position : relative;
    display:none;


}


#resultat {
    width: 100%;
    background-color: green;
    padding : 2px;
    color: white;
    position : relative;
    display:none;
   

}